@model FarmAreaModel

<style type="text/css">
    @@media screen and (min-width: 768px) {
        .modal-dialog {
            width: 800px;
        }
    }
</style>

@using (Ajax.BeginForm("CreateUpdateFarmArea", "Farm", new AjaxOptions
{
    OnBegin = "blockUI('.modal-dialog');",
    OnSuccess = "onSuccessResponse",
    OnFailure = "onFailureResponse",
    OnComplete = "$('.modal-dialog').unblock();"
}, new { @class = "form-horizontal" }))
{

    <div class="modal-form form-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.FarmId)
                    <div class="col-md-8">
                        <input id="drpFarmId" name="FarmId" class="form-control-input" value="@Model.FarmId" />
                        @Html.ValidationMessageFor(x => x.FarmId)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.AreaName)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.AreaName)
                        @Html.ValidationMessageFor(x => x.AreaName)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.AreaInAcars)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.AreaInAcars)
                        @Html.ValidationMessageFor(x => x.AreaInAcars)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Date)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Date, new { @class = "date-picker" })
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.StartingPoint)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.StartingPoint)
                        @Html.ValidationMessageFor(x => x.StartingPoint)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.EndingPoint)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.EndingPoint)
                        @Html.ValidationMessageFor(x => x.EndingPoint)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.RemaningArea)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.RemaningArea, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(x => x.RemaningArea)
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" id="btnFarmArea" class="btn btn-primary">
            @(Model.Id > 0 ? "Update" : "Create")
        </button>
    </div>

    @Html.HiddenFor(x => x.Id)
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".modal-dialog input[type='text'], .modal-dialog textarea").not(".date-picker").addClass("form-control");
        $(".modal-dialog .date-picker").addClass("form-control-input");
        $(".modal-dialog label").addClass("col-md-4");

        $(".date-picker").kendoDatePicker();

        bindFarm("drpFarmId");

        $("#btnFarmArea").click(function (event) {
            if (!$("form").valid()) {
                return;
            }

            $("form").find("input.form-control-input").not(".date-picker").each(function () {
                if ($(this).val() == "" || $(this).val() <= 0) {
                    var name = $(this).attr("Id").replace('drp', '').replace('Id', '');
                    showErrorMessage("Please select the " + name);
                    event.preventDefault();
                    return false;
                }
            });
        });
    });

</script>


