@model DepartmentModel

<style type="text/css">
    @@media screen and (min-width: 768px) {
        .modal-dialog {
            width: 700px;
        }
    }
</style>

@using (Ajax.BeginForm("CreateUpdateDepartment", "Department", new AjaxOptions
{
    OnBegin = "blockUI('.modal-dialog');",
    OnSuccess = "onSuccessResponse",
    OnFailure = "onFailureResponse",
    OnComplete = "$('.modal-dialog').unblock();"
}, new { @class = "form-horizontal" }))
{

    <div class="modal-form form-body">

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Name)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Name)
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Status)
                    <div class="col-md-8">
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "Active",
                                Value = "Active"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Pending",
                                Value = "Pending",
                                Selected = true
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Close",
                                Value = "Close"
                            });
                        }

                        @Html.DropDownListFor(model => model.Status, listItems, "Status")
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Date)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Date, new { @class = "date-picker" })
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Description)
                    <div class="col-md-8">
                        @Html.TextAreaFor(x => x.Description)
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" id="btnDepartment" class="btn btn-primary">
            @(Model.Id > 0 ? "Update" : "Create")
        </button>
    </div>

    @Html.HiddenFor(x => x.Id)
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".modal-dialog input[type='text'], .modal-dialog textarea").not(".date-picker").addClass("form-control");
        $(".modal-dialog .date-picker").addClass("form-control-input");
        $(".modal-dialog label").addClass("col-md-4");

        $(".date-picker").kendoDatePicker();

        bindFarm("drpDepartmentId");

        $("#btnDepartment").click(function (event) {
            if (!$("form").valid()) {
                return;
            }

            $("form").find("input.form-control-input").not(".date-picker").each(function () {
                if ($(this).val() == "" || $(this).val() <= 0) {
                    var name = $(this).attr("Id").replace('drp', '').replace('Id', '');
                    showErrorMessage("Please select the " + name);
                    event.preventDefault();
                    return false;
                }
            });
        });
    });

</script>



