@{
    ViewBag.Title = "Fuel";
}

<div class="col-md-12">
    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="createUpdateFuel(0)">
            Add New Fuel
        </button>
    </div>

    <div id="grdFuel">
    </div>
</div>

@Html.Partial("ModalPopupPartial")


@section scripts
{
    <script type="text/x-kendo-template" id="template">
        @Html.Partial("SearchRecordsPartial")
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#txtSearch').typing({
                    stop: function () { filterFuelRecords(); },
                    delay: 300
                });
            }, 3000);

            $("#grdFuel").kendoGrid({
                dataSource: kendoReadDataSource('@Url.Action("FuelAjax", "Stock")'),
                toolbar: kendo.template($("#template").html()),
                scrollable: false,
                sortable: true,
                pageable: addGridPageSizes(),
                columns: [
                { field: "FarmName", title: "Farm Name" },
                { field: "Expense", title: "Account" },
                { field: "FuelName", title: "Fuel Name" },
				{ field: "VendorName", title: "Vendor Name" },
                { field: "QuantityInLiter", title: "Quantity In Liter" },
                { field: "TotalPrice", title: "Total Price" },
                { field: "PricePerLiter", title: "Price Per Liter" },
                { field: "TotalLeft", title: "Left Fuel" },
                { field: "DatePurchase", title: "Date Purchase", type: "date", format: "{0:M/d/yyyy}" },
                { field: "OtherDescription", title: "Other Description" },
                {
                    title: "Action",
                    sortable: false,
                    filterable: false,
                    width: 180,
                    template: function (dataItem) { return fuelAction(dataItem) }
                }]
            });
        });

        function fuelAction(dataItem) {
            var action = getEditButton(String.format("createUpdateFuel({0})", dataItem.Id));
            if (!dataItem.IsDelete) {
                action += getDeleteButton(String.format("deleteFuel({0})", dataItem.Id));
            }
            return action;
        }

        function deleteFuel(id) {
            var confirmMessage = confirm("Are you sure to remove selected Fuel ?");
            if (confirmMessage) {
                kendo.ui.progress($("#grdFuel"), true);
                $.get('@Url.Action("DeleteFuel", "Stock")', { id: id }, function (response) {
                    showMessageRebindGrid(response, "grdFuel");
                });
            }
        }
        function createUpdateFuel(id) {
            kendo.ui.progress($("#grdFuel"), true);
            $.get('@Url.Action("CreateUpdateFuel", "Stock")', { id: id }, function (partialView) {
                $(".modal-body").html(partialView);
                $(".modal-title").html(id > 0 ? "Update Fuel" : "Create New Fuel");
                $('#divModalWindow').modal({ backdrop: 'static', keyboard: false });
                applyValidations();
            });
        }
        function onSuccessResponse(response) {
            showMessageHideModalRebindGrid(response, "grdFuel", "divModalWindow");
        }
        function onFailureResponse(errorMessage) {
            showErrorMessage(errorMessage);
            $('.modal-dialog').unblock();
        }

        function filterFuelRecords() {
            var query = $("#txtSearch").val();
            var dataSource = $('#grdFuel').data().kendoGrid.dataSource;

            if (query.trim().length == 0) {
                dataSource.filter([]);
                return;
            }
            var fields = ["FuelName", "DatePurchase", "QuantityInLiter", "PricePerLiter", "TotalPrice", "VendorName", "OtherDescription"];
            var filters = [];
            $.each(fields, function (i, value) {
                filters.push({ field: value, operator: "contains", value: query })
            });
            dataSource.filter({ logic: "or", filters: filters });
        }

        $(document).ajaxStop(function () {
            kendo.ui.progress($("#grdFuel"), false);
            var searchText = $("#txtSearch").val();
            if (searchText != null) {
                highlightGridRow("grdFuel", searchText);
            }
        });

    </script>
}
