@model VehicleModel

<style type="text/css">
    @@media screen and (min-width: 768px) {
        .modal-dialog {
            width: 800px;
        }
    }

    .k-upload-files.k-reset {
        display: none !important;
    }
</style>

@using (Ajax.BeginForm("CreateUpdateVehicle", "Stock", new AjaxOptions
{
    OnBegin = "blockUI('.modal-dialog');",
    OnSuccess = "onSuccessResponse",
    OnFailure = "onFailureResponse",
    OnComplete = "$('.modal-dialog').unblock();"
}, new { @class = "form-horizontal" }))
{

    <div class="modal-form form-body">
	
	<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.UserId)
                    <div class="col-md-8">
                        <input id="drpUserId" name="UserId" class="form-control-input" value="@Model.UserId" />
                        @Html.ValidationMessageFor(x => x.UserId)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.FarmId)
                    <div class="col-md-8">
                        <input id="drpFarmId" name="FarmId" class="form-control-input" value="@Model.FarmId" />
                        @Html.ValidationMessageFor(x => x.FarmId)
                    </div>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.AccountId)
                    <div class="col-md-8">
                        <input id="drpAccountId" name="AccountId" class="form-control-input" value="@Model.AccountId" />
                        @Html.ValidationMessageFor(x => x.AccountId)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Name)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Name)
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
            </div>
        </div>
		
        <div class="row">
            <div class="col-md-6">
                 <div class="form-group">
                    @Html.CustomLabelFor(x => x.CompanyName)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.CompanyName)
                        @Html.ValidationMessageFor(x => x.CompanyName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Color)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Color)
                        @Html.ValidationMessageFor(x => x.Color)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.VehicleType)
                    <div class="col-md-8">
                        <input id="drpVehicleType" name="VehicleType" class="form-control-input" value="@Model.VehicleType" />
                        @Html.ValidationMessageFor(x => x.VehicleType)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.VehicleCondition)
                    <div class="col-md-8">
                        <input id="drpVehicleCondition" name="VehicleCondition" class="form-control-input" value="@Model.VehicleCondition" />
                        @Html.ValidationMessageFor(x => x.VehicleCondition)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.Power)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Power)
                        @Html.ValidationMessageFor(x => x.Power)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.RegistrationNo)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.RegistrationNo)
                        @Html.ValidationMessageFor(x => x.RegistrationNo)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    @Html.CustomLabelFor(x => x.Price)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Price).IsReadonly(Model.Price > 0)
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.ModelNo)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.ModelNo)
                        @Html.ValidationMessageFor(x => x.ModelNo)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.PurchaseDate)
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.PurchaseDate, new { @class = "date-picker" })
                        @Html.ValidationMessageFor(x => x.PurchaseDate)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CustomLabelFor(x => x.VendorId)
                    <div class="col-md-8">
                        <input id="drpVendorId" name="VendorId" class="form-control-input" value="@Model.VendorId" />
                        @Html.ValidationMessageFor(x => x.VendorId)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(x => x.OtherDescription, new { @class = "col-lg-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.OtherDescription)
                @Html.ValidationMessageFor(x => x.OtherDescription)
            </div>
        </div>

        <div class="form-group divUploadPicture">
            @Html.GetCustomLabelFor(x => x.Picture, new { @class = "col-lg-2" })
            <div class="col-md-10">
                <input name="file" id="Picture" type="file" accept="image/*" />
                @Html.ValidationMessageFor(x => x.Picture)
            </div>
        </div>
        <div class="table-responsive" id="divPicture">
        </div>

        <div class="form-group divUploadLicense">
            @Html.GetCustomLabelFor(x => x.LicenseFile, new { @class = "col-lg-2" })
            <div class="col-md-10">
                <input name="file" id="LicenseFile" type="file" accept="image/*" />
                @Html.ValidationMessageFor(x => x.LicenseFile)
            </div>
        </div>
        <div class="table-responsive" id="divLicensefile">
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" id="btnVehicle" class="btn btn-primary">
            @(Model.Id > 0 ? "Update" : "Create")
        </button>
    </div>

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.VehicleGuid)
}

<script>
    $(document).ready(function () {

        deleteAllFiles();

        $(".modal-dialog input[type='text'], .modal-dialog textarea").not(".date-picker").addClass("form-control");
        $(".modal-dialog .date-picker").addClass("form-control-input");
        $(".modal-dialog label").addClass("col-md-4");

        $(".date-picker").kendoDatePicker();

		bindEmployeeAccordingToType("drpUserId", '@((int)EmployeeType.Permanent)');
        bindCondition("drpVehicleCondition");
        bindVehicleType("drpVehicleType");
		
		bindFarm("drpFarmId");
        bindAccount("drpAccountId");
        bindVendor("drpVendorId");

        getFiles('@FileUploadPath.VehiclePicture');
        getLicenseFile('@FileUploadPath.VehicleLicenseFile');

        $("#Picture").kendoUpload({
            async: {
                saveUrl: '@Url.Action("AddFileUpload", "FileUpload")?fileUploadPath=' + '@FileUploadPath.VehiclePicture.ToString()' + '&guid=' + $("#VehicleGuid").val(),
                removeUrl: "@Url.Action("AddFileUpload", "FileUpload")",
                autoUpload: true,
                allowmultiple: false
            },
            complete: function (e) {
                getFiles('@FileUploadPath.VehiclePicture');
            }
        });
        $("#LicenseFile").kendoUpload({
            async: {
                saveUrl: '@Url.Action("AddFileUpload", "FileUpload")?fileUploadPath=' + '@FileUploadPath.VehicleLicenseFile.ToString()' + '&guid=' + $("#VehicleGuid").val(),
                removeUrl: "@Url.Action("AddFileUpload", "FileUpload")",
                autoUpload: true,
                allowmultiple: false
            },
            complete: function (e) {
                getLicenseFile('@FileUploadPath.VehicleLicenseFile');
            }
        });

        $("#btnVehicle").click(function (event) {
            if (!$("form").valid()) {
                return;
            }
			
			$("form").find("input.form-control-input").not(".date-picker").each(function () {
                if ($(this).val() == "" || $(this).val() <= 0) {
                    var name = $(this).attr("Id").replace('drp', '').replace('Id', '');
                    showErrorMessage("Please select the " + name);
                    event.preventDefault();
                    return false;
                }
            });

            if ($("#divPicture tr").length < 2) {
                showErrorMessage("Please upload the photo of machinery.");
                event.preventDefault();
            }
            if ($("#divLicensefile tr").length < 2) {
                showErrorMessage("Please upload the payment bill.");
                event.preventDefault();
            }
        });
    });

    function downloadFile(id) {
        location.href = '@Url.Action("DownloadFile", "FileUpload")?Id=' + id;
    }
    function deleteFile(id) {
        var shouldDelete = confirm("Are you sure, you want to remove selected File?");
        if (!shouldDelete) return;


        $.get("@Url.Action("DeleteFile", "FileUpload")", { Id: id }, function () {
            getFiles('@FileUploadPath.VehiclePicture');
            getLicenseFile('@FileUploadPath.VehicleLicenseFile');
        }, 'json');
    }

    function getLicenseFile(fileUploadPath) {
        $.get('@Url.Action("GetFiles", "FileUpload")', { fileUploadPath: fileUploadPath }, function (html) {
            $("#divLicensefile").html(html);

            if ($("#divLicensefile tr").length > 1) {
                $(".divUploadLicense .k-upload").hide();
                $("#divLicensefile").show();
            }
            else {
                $(".divUploadLicense .k-upload").show();
                $("#divLicensefile").hide();
            }
        });
    }

    function getFiles(fileUploadPath) {
        $.get('@Url.Action("GetFiles", "FileUpload")', { fileUploadPath: fileUploadPath }, function (html) {
            $("#divPicture").html(html);

            if ($("#divPicture tr").length > 1) {
                $(".divUploadPicture .k-upload").hide();
                $("#divPicture").show();
            }
            else {
                $(".divUploadPicture .k-upload").show();
                $("#divPicture").hide();
            }
        });
    }
</script>
