@{
    ViewBag.Title = "Vehicle";
}

<div class="col-md-12">
    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="createUpdateVehicle(0)">
            Add New Vehicle
        </button>
    </div>

    <div id="grdVehicle">
    </div>
</div>

@Html.Partial("ModalPopupPartial")

@section scripts
{
    <script type="text/x-kendo-template" id="template">
        @Html.Partial("SearchRecordsPartial")
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#txtSearch').typing({
                    stop: function () { filterVehicleRecords(); },
                    delay: 300
                });
            }, 3000);

            $("#grdVehicle").kendoGrid({
                dataSource: kendoReadDataSource('@Url.Action("VehicleAjax", "Stock")'),
                toolbar: kendo.template($("#template").html()),
                scrollable: false,
                sortable: true,
                pageable: addGridPageSizes(),
                columns: [
                { field: "FarmName", title: "Farm Name" },
                { field: "Expense", title: "Account" },
                { field: "Name", title: "Name" },
                { field: "Color", title: "Color" },
                { field: "Type", title: "Type" },
                { field: "Power", title: "Power" },
                { field: "RegistrationNo", title: "Registration <br> No" },
                { field: "CompanyName", title: "Company <br> Name" },
                { field: "Price", title: "Price" },
                { field: "ModelNo", title: "Model <br> No" },
                { field: "PurchaseDate", title: "Purchase <br> Date", type: "date", format: "{0:M/d/yyyy}" },
                { field: "VendorName ", title: "Vendor <br> Name" },
                { field: "OtherDescription", title: "Other <br> Description" },
                { field: "Condition", title: "Condition" },
                {
                    title: "Action",
                    sortable: false,
                    filterable: false,
                    width: 180,
                    template: getEditButton('createUpdateVehicle(#=Id#)') + getDeleteButton('deleteVehicle(#=Id#)')
                }]
            });
        });
        function deleteVehicle(id) {
            var confirmMessage = confirm("Are you sure to remove selected Vehicle ?");
            if (confirmMessage) {
                kendo.ui.progress($("#grdVehicle"), true);
                $.get('@Url.Action("DeleteVehicle", "Stock")', { id: id }, function (response) {
                    showMessageRebindGrid(response, "grdVehicle");
                });
            }
        }
        function createUpdateVehicle(id) {
            kendo.ui.progress($("#grdVehicle"), true);
            $.get('@Url.Action("CreateUpdateVehicle", "Stock")', { id: id }, function (partialView) {
                $(".modal-body").html(partialView);
                $(".modal-title").html(id > 0 ? "Update Vehicle" : "Create New Vehicle");
                $('#divModalWindow').modal({ backdrop: 'static', keyboard: false });
                applyValidations();
            });
        }
        function onSuccessResponse(response) {
            showMessageHideModalRebindGrid(response, "grdVehicle", "divModalWindow");
        }
        function onFailureResponse(errorMessage) {
            showErrorMessage(errorMessage);
            $('.modal-dialog').unblock();
        }

        function filterVehicleRecords() {
            var query = $("#txtSearch").val();
            var dataSource = $('#grdVehicle').data().kendoGrid.dataSource;

            if (query.trim().length == 0) {
                dataSource.filter([]);
                return;
            }
            var fields = ["Name", "Color", "Type", "Power", "RegistrationNo", "CompanyName", "Price", "ModelNo", "PurchaseDate", "VendorName", "Condition"];
            var filters = [];
            $.each(fields, function (i, value) {
                filters.push({ field: value, operator: "contains", value: query })
            });
            dataSource.filter({ logic: "or", filters: filters });
        }

        $(document).ajaxStop(function () {
            kendo.ui.progress($("#grdVehicle"), false);
            var searchText = $("#txtSearch").val();
            if (searchText != null) {
                highlightGridRow("grdVehicle", searchText);
            }
        });

    </script>
}
